src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8080/WebServicioSOAP/Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WebServicioSOAP/Operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="operacionesBasicas">
<part name="parameters" element="tns:operacionesBasicas"/>
</message>
<message name="operacionesBasicasResponse">
<part name="parameters" element="tns:operacionesBasicasResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="leyNewton">
<part name="parameters" element="tns:leyNewton"/>
</message>
<message name="leyNewtonResponse">
<part name="parameters" element="tns:leyNewtonResponse"/>
</message>
<message name="velocidad">
<part name="parameters" element="tns:velocidad"/>
</message>
<message name="velocidadResponse">
<part name="parameters" element="tns:velocidadResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="euroAdolar">
<part name="parameters" element="tns:euroAdolar"/>
</message>
<message name="euroAdolarResponse">
<part name="parameters" element="tns:euroAdolarResponse"/>
</message>
<message name="areadetriangulo">
<part name="parameters" element="tns:areadetriangulo"/>
</message>
<message name="areadetrianguloResponse">
<part name="parameters" element="tns:areadetrianguloResponse"/>
</message>
<portType name="Operaciones">
<operation name="operacionesBasicas">
<input wsam:Action="http://ws/Operaciones/operacionesBasicasRequest" message="tns:operacionesBasicas"/>
<output wsam:Action="http://ws/Operaciones/operacionesBasicasResponse" message="tns:operacionesBasicasResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws/Operaciones/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/Operaciones/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="leyNewton">
<input wsam:Action="http://ws/Operaciones/leyNewtonRequest" message="tns:leyNewton"/>
<output wsam:Action="http://ws/Operaciones/leyNewtonResponse" message="tns:leyNewtonResponse"/>
</operation>
<operation name="velocidad">
<input wsam:Action="http://ws/Operaciones/velocidadRequest" message="tns:velocidad"/>
<output wsam:Action="http://ws/Operaciones/velocidadResponse" message="tns:velocidadResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/Operaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/Operaciones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="euroAdolar">
<input wsam:Action="http://ws/Operaciones/euroAdolarRequest" message="tns:euroAdolar"/>
<output wsam:Action="http://ws/Operaciones/euroAdolarResponse" message="tns:euroAdolarResponse"/>
</operation>
<operation name="areadetriangulo">
<input wsam:Action="http://ws/Operaciones/areadetrianguloRequest" message="tns:areadetriangulo"/>
<output wsam:Action="http://ws/Operaciones/areadetrianguloResponse" message="tns:areadetrianguloResponse"/>
</operation>
</portType>
<binding name="OperacionesPortBinding" type="tns:Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operacionesBasicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leyNewton">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="velocidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="euroAdolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="areadetriangulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operaciones">
<port name="OperacionesPort" binding="tns:OperacionesPortBinding">
<soap:address location="http://localhost:8080/WebServicioSOAP/Operaciones"/>
</port>
</service>
</definitions>